<div class="flex bg-slate-50 justify-center items-center h-screen w-screen text-white" style="background-color:#242525">
  <div class="shadow-sm w-1/5 p-10 rounded-md" style="background-color:#1b1c1f">

    @if(showEmailSent){
    <div class="text-center" >
      <h1 class="text-xl font-bold">Email Sent</h1>
      <p class="mb1 mt-3 text-amber-700 font-semibold">
        We have sent a password reset link to your email.
      </p>
      <mat-icon class="animate-bounce mt-5" style="width:100px;height: 100px;font-size: 80px;color: rgb(252, 195, 8);">
        check_circle
      </mat-icon>
    </div>
    }@else {
    <h1 class="text-xl font-bold">
      Forgot Password?
    </h1>

    <p class="text-base mt-3 text-slate-100 font-medium">
      Email Address
    </p>
    <input type="email" name="email" class="w-full mb-2 border-gray-200 border shadow-sm p-2 text-black"
      placeholder="Email" [(ngModel)]="email">
    <button (click)="forgetPassword()" [disabled]="!email"
      class="w-full disabled:opacity-70 p-2 bg-amber-500 text-white mt-2">
      Request Reset Password
    </button>
    }
  </div>
</div>
